XML/Session_26_09_2022/complexType.xml

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="myComplexType">
        <xs:sequence>
            <xs:element name="person" type="xs:string"/>
        <xs:choice>
            <xs:element name="age" type="xs:integer"/>

        </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="book">
        <xs:complexType>
            <xs:all>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="author" type="xs:string"/>
                <xs:element name="year" type="xs:string"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>
